.content-row{
    padding: 0 2rem 0 2rem;
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap : 1rem;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
}