
.about .flex {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 
 .about .flex .image {
    flex: 1 1 40rem;
 }
 
 .about .flex .image img {
    width: 100%;
 }
 
 .about .flex .content {
    flex: 1 1 40rem;
    padding: 2rem;
    background-color: var(--light-bg);
 }
 
 .about .flex .content h3 {
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
 }
 
 .about .flex .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.7rem;
    color: var(--light-color);
 }